[Desktop Entry]
Type=Application
Name=VirtScreen
Comment=Make your iPad/tablet/computer as a secondary monitor on Linux
Exec=bash -c "export PATH=\\$PATH:\\$HOME/.local/bin; virtscreen"
Icon=virtscreen
Terminal=false
StartupNotify=false
Categories=Application;
