pkgbase = virtscreen
	pkgdesc = Make your iPad/tablet/computer as a secondary monitor on Linux
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/kbumsik/VirtScreen
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = python-setuptools
	depends = xorg-xrandr
	depends = x11vnc
	depends = python-pyqt5
	depends = python-twisted
	depends = python-netifaces
	depends = python-qt5reactor
	optdepends = arandr: for display settings option
	provides = virtscreen
	source = https://github.com/kbumsik/VirtScreen/archive/0.1.3.tar.gz
	sha256sums = 79cd7a07fc5eb9d6034812cca39612cb1cbef109bd2c8e939a45e2186a82cac2

pkgname = virtscreen

